Notebook usado para crear la función de crear los tags de los datos primeramente.

Una vez que eso se completó este notebook pasa a ser solo para ver como se usa la función.

In [1]:
import sys
import warnings

import pandas as pd

warnings.filterwarnings("ignore")

In [7]:
app_path = '/Users/esanc147/Documents/business/bsm03/web_app'
if app_path in sys.path:
    from tools.tags import create_tags, pct_change
else: 
    sys.path.append('/Users/esanc147/Documents/business/bsm03/web_app')
    from tools.tags import create_tags

In [3]:
path = "/Users/esanc147/Documents/business/bsm03/web_app/data/close/AAPL.csv"
COLUMNS = ['symbol', 'date', 'close', 'volume', 'open', 'high', 'low']
df = pd.read_csv(path, names=COLUMNS)
df['date'] = pd.to_datetime(df['date'])

In [4]:
df['date'].max()

Timestamp('2020-06-08 00:00:00')

In [5]:
lc = []
for elem in [7, 14, 21, 28]:
    lc.append(create_tags(df, elem))
df_tagged = pd.concat(lc, axis=1)
df_tagged.dropna(inplace=True)

In [6]:
df_tagged.index.max()

('AAPL', Timestamp('2020-04-28 00:00:00'))

In [13]:
pct_change(df, 7).head(10)

     symbol       date   close  pct_change_7
3624   AAPL 2020-05-28  318.25      0.045613
3623   AAPL 2020-05-27  318.11      0.040392
3622   AAPL 2020-05-26  316.73      0.017343
3621   AAPL 2020-05-22  318.89      0.019162
3620   AAPL 2020-05-21  316.85      0.020072
3619   AAPL 2020-05-20  319.23      0.008140
3618   AAPL 2020-05-19  313.14      0.015097
3617   AAPL 2020-05-18  314.96      0.010338
3616   AAPL 2020-05-15  307.71      0.032693
3615   AAPL 2020-05-14  309.54      0.022701